af-scrim,
[af-scrim] {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 1004;
    background: rgba(0, 0, 0, 0.6);
    transition: all $transitionSpeed ease-in-out;
    will-change: opacity visibility;

    &.show {
        visibility: visible;
        opacity: 1;
    }
}
